In [24]:
import pytesseract
from PIL import Image
from pdf2image import convert_from_path
import pandas as pd
import glob

In [2]:
#  Manually set the full path to tesseract.exe
pytesseract.pytesseract.tesseract_cmd = r"C:\Program Files\Tesseract-OCR\tesseract.exe"

In [7]:
folder_path = './Input/set-1/Train'
files = glob.glob(f"{folder_path}/*.pdf")

In [ ]:
ocr_collection = []
doc_numbers = ['0362418', '0362431', '0362440', '0362453']

for file in files:
    pdf_images = convert_from_path(file)
    image = pdf_images[0].convert("RGB")

    ocr_data = pytesseract.image_to_data(image, output_type=pytesseract.Output.DICT)

    ocr_df = pd.DataFrame(ocr_data)

    # Add width and height
    ocr_df['bottom'] = ocr_df['top'] + ocr_df['height']
    ocr_df['right'] = ocr_df['left'] + ocr_df['width']

    # Create a target column
    ocr_df.loc[ocr_df['text'] .isin(doc_numbers), 'label'] = 1
    ocr_df["label"].fillna(0, inplace=True)


    # Add the dataframe to the collection
    ocr_collection.append(ocr_df)

C:\Users\vuvee\AppData\Local\Temp\ipykernel_31452\3120532627.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ocr_df["label"].fillna(0, inplace=True)
C:\Users\vuvee\AppData\Local\Temp\ipykernel_31452\3120532627.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ocr_df["label"].fillna(0, inplace=True)
C:\Users\vuvee\AppData\Local\Temp\ipykernel_31452\3120532627.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ocr_df["label"].fillna(0, inplace=True)
C:\Users\vuvee\AppData\Local\Temp\ipykernel_31452\3120532627.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ocr_df["label"].fillna(0, inplace=True)

In [26]:
df = ocr_collection[3]

In [27]:
df.head()

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,label,bottom,right
0,1,1,0,0,0,0,0,0,1700,2200,-1,,0.0,2200,1700
1,2,1,1,0,0,0,904,89,613,23,-1,,0.0,112,1517
2,3,1,1,1,0,0,904,89,613,23,-1,,0.0,112,1517
3,4,1,1,1,1,0,904,89,613,23,-1,,0.0,112,1517
4,5,1,1,1,1,1,904,89,117,22,95,VEHICLE,0.0,111,1021

In [22]:
df[df['label'] == 1]

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,label
143,5,1,26,1,4,1,141,209,109,18,94,0362453,1.0

In [23]:
df.dtypes

level          int64
page_num       int64
block_num      int64
par_num        int64
line_num       int64
word_num       int64
left           int64
top            int64
width          int64
height         int64
conf           int64
text          object
label        float64
dtype: object